.rootContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.app {
    margin-inline: .5rem;
    max-width: 400px;
}

.app__header {
    background: var(--bg-clr-1);
    padding-block: .5rem;
    position: sticky;
    top: 0;
    z-index: 999999;
}

.app__container__listings{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
}

.app__container__wishlist{
    padding-bottom: .5rem;
}