.modal {
  position: absolute;
  left: 0;
  z-index: 99999999;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
}

.modal__wrapper {
  /* height: 80%; */
  width: 80%;
  background: var(--bg-clr-2);
  border-radius: 8px;
  padding: 1rem;
  display: grid;
  gap: 1rem;
}

.modal__wrapper__image {
  /* background: red; */
  height: 60%;
  border-radius: 2px;
  /* margin-block: 1rem; */
}

.modal__wrapper__image img {
  width: 100%;
}

.modal__wrapper__info__title {
  margin-bottom: 0.2rem;
}

.modal__wrapper__info__title h1 {
  font-size: 1.5rem;
  color: var(--txt-clr-1);
}

.modal__wrapper__info__description p {
  font-size: 1rem;
  color: var(--txt-clr-2);
}

.modal__wrapper__location {
  display: flex;
  align-items: center;
}

.modal__wrapper__location img {
  width: 1rem;
  filter: invert(.5);
}

.modal__wrapper__location p {
  color: var(--txt-clr-2);
  font-size: .8rem;
}

.modal__wrapper__cta button {
  background: var(--primary-clr);
  color: white;
  padding-inline: 2rem;
}
